.showOnMobile {
    display: none;
}

@media (max-width: 1024px) {
    .showOnMobile {
        display: flex;
    }

    .hideOnMobile {
        display: none;
    }

    #title {
        max-width: 80vw;
        font-size: 15vmin;
    }

    #about {
        flex-wrap: wrap;
    }

    #aboutPic {
        margin: 0;
        border-left: 0;
        width: 100vw;
        min-height: 0px;
        height: 40vw;
    }

    #bands {
        padding: 15px;
    }

    .bandLink {
        margin: 15px;
    }

    #faq {
        padding: 0;
    }

    #faqText {
        margin: 0 ;
        padding: 30px;
    }

    .qAndA {
        width: 100%;
    }

    .faqAnswer {
        margin-left: 20px;
    }

    .bandSection {
        padding: 15px;
    }

    .bandWrap {
        margin: 15px;
        max-width: calc(100vw - 60px);
    }

    .picAndText {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bandPic {
        width: 60vw;
        height: 60vw;
        margin-top: 20px;
    }

    .bandText {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }

    .videoWrap {
        height: 50vw;
    }

    .divider.bandPage {
        font-size: 6vw;
    }
}

/* keep band links square */
@media (max-width: 440px) {
    .bandLink {
        height: calc(100vw - 60px);
    }

    .bandPic {
        min-width: calc(100vw - 60px);
        min-height: calc(100vw - 60px);
    }

    .videoWrap {
        height: 80vw;
    }

    .videoTitle {
        font-size: 17px;
    }

    .divider.bandPage {
        font-size: 7vw;
    }
}
