<!DOCTYPE html>

<html>
	<head>
		<!-- meta -->
		<title>Bands: Cassettes In The Sun</title>
		<!-- style -->
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="icon" type="image/png" href="../pics/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../pics/favicon/favicon-16x16.png" sizes="16x16" />
		<!-- libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- scripts -->
		<script src="../functions.js" type="text/javascript"></script>
	</head>

	<!-- LANDING -->
	<body>

		<!-- NAV BAR -->
		<nav class="navBar band">
			<div class="navButton" onClick="jumpTo('landing', false)">HOME</div>
			<a class="navButton" href="mailto:figslimes@gmail.com?subject=Booking Enquiry - Cassettes In The Sun&body=Please include date and location.">BOOK</a>
			<a class="navButton" href="mailto:figslimes@gmail.com">CONTACT</a>
		</nav>

		<!-- CONTACT -->
		<section id="contactWrap">
			<div id="formWrap">
				<div class="closeButton" onclick="closeForm()">&#10005;</div>
				<form id="contactForm">
					Name<input type="text" required></input>
					Email<input type="text" required></input>
					<div class="bandPageOnly">Event Address<input type="text" required></input></div>
					<div class="bandPageOnly">Event Date<input type="text" required></input></div>
					Message<textarea required></textarea>
					<input type="submit" value="SEND"></input>
				</form>
			</div>
		</section>

		<!-- MAIN CONTENT -->
		<h1 class="divider">Cassettes In The Sun</h1>
		<section>
			<div class="bandWrap">
				<div class="picAndText">
					<div class="bandPic" style="background-image: url('../pics/bands/cassettes.png')"></div>
					<div class="bandText">
						<p>Cassettes In The Sun have an outstanding live show where you, your family and all your friends will be captured from the very beginning. You'll have no excuse not to get involved as every track is a chart topping anthem!</p>
						<p>Band members have hit the Top 40 singles chart, played Top of The Pops and MTV, had airplay on BBC Radio 1, 2 and 6 Music and have toured arenas across the USA and Europe supporting bands including The Killers, Stereophonics, Snow Patrol, Keane, Ash and The Smashing Pumpkins.</p>
						<p class="p_bottom">Playing the best indie classics with an edge, Cassettes In The Sun are the perfect alternative twist on a rocked up function band.</p>
					</div>
				</div>
				<div class="mediaWrap">
					<audio controls class="bandAudio">
						<source src="../media/cassettes.mp3">
					</audio>
					<span class="audioInfo"><i>Chelsea Dagger</i></span>
				</div>
				<a class="bookButton" href="mailto:figslimes@gmail.com?subject=Booking Enquiry - Cassettes In The Sun&body=Please include date and location.">Book Us!</a>
			</div>
		</section>
	</body>
<html>
